body {
    background-color: aliceblue;
    color: blue;
}
h3,
.date,
.temp,
.feels,
.humidity,
.wind,
.cityName {
color: midnightblue;
}
.h3 {
    text-align: center;
}
.data {
    color: blue;
    left: 20px;
}


.card {
    margin-bottom: 2rem;
    
}
.card-body {
    background-color: rgb(165, 216, 248);
}